In [5]:
import pandas as pd

df = pd.read_csv('test.csv')

df.head()

,ID,Is Parent,ParentID,Date,Reply Count,AgitID,Template,Status,Assignees,Message,URL
0,416723593,True,NaN,2024.11.27 11:10,10,tony.0629 (윤규선),데이터 분석/추출 요청,완료,zoe.lee93(BI셀),> 분석을 위한 ID단위 추출은 직접 진행해야 합니다. 직접 추출 어려울 경우 추출...,https://kakaogames.agit.in/g/300018235/wall/41...
1,416648486,True,NaN,2024.11.26 14:00,4,tony.0629 (윤규선),데이터 분석/추출 요청,완료,zoe.lee93(BI셀),> 분석을 위한 ID단위 추출은 직접 진행해야 합니다. 직접 추출 어려울 경우 추출...,https://kakaogames.agit.in/g/300018235/wall/41...
2,416636339,True,NaN,2024.11.26 11:48,2,chase.chung (정상호),데이터 분석/추출 요청,승인,zoe.lee93(BI셀),> 분석을 위한 ID단위 추출은 직접 진행해야 합니다. 직접 추출 어려울 경우 추출...,https://kakaogames.agit.in/g/300018235/wall/41...
3,416579494,True,NaN,2024.11.25 18:46,10,mix.coffee (김영아),데이터 분석/추출 요청,진행,"party.92(), zoe.lee93(BI셀)",> 분석을 위한 ID단위 추출은 직접 진행해야 합니다. 직접 추출 어려울 경우 추출...,https://kakaogames.agit.in/g/300018235/wall/41...
4,416549793,True,NaN,2024.11.25 14:43,6,link.shim (심두섭),개인정보 데이터 추출,완료,levi.y(데이터테크셀),> 예외적으로 유저식별이 꼭 필요한 사유가 있는 경우만 작성해주세요.\n> *필요 ...,https://kakaogames.agit.in/g/300018235/wall/41...

In [9]:
# id별로 행의 개수와 value의 합계를 구함
id_stats = df.groupby('AgitID').agg(
    row_count=('AgitID', 'size'),  # 행의 개수
)

print(id_stats)

                   row_count
AgitID
carmen.chi (지경진)           1
chase.chung (정상호)          2
crystal.ahn (안수정)          1
david.u (유웅)               1
giant.kwon (권영규)           1
link.shim (심두섭)            1
michelle.oh (오소민)          2
mix.coffee (김영아)           1
rini.kim (김혜린)             1
shane.chang (장세군)          3
stella.h (김미형)             1
todaying.ji (지승희)          2
tony.0629 (윤규선)            5

In [11]:
df_group = pd.read_csv('test_group.csv')
df_group

              AgitID       cell cell_big
0    tony.0629 (윤규선)    RPG사업2실       사업
1  chase.chung (정상호)    RPG사업2실       사업
2   mix.coffee (김영아)      마케팅그룹       사업
3       david.u (유웅)   미드코어사업2실       사업
4  shane.chang (장세군)  글로벌모바일사업실       사업
5   giant.kwon (권영규)    RPG사업1실       사업

In [13]:
merged_df = pd.merge(id_stats, df_group, on='AgitID', how='left')

# 결과 확인
print(merged_df)

               AgitID  row_count       cell cell_big
0    carmen.chi (지경진)          1        NaN      NaN
1   chase.chung (정상호)          2    RPG사업2실       사업
2   crystal.ahn (안수정)          1        NaN      NaN
3        david.u (유웅)          1   미드코어사업2실       사업
4    giant.kwon (권영규)          1    RPG사업1실       사업
5     link.shim (심두섭)          1        NaN      NaN
6   michelle.oh (오소민)          2        NaN      NaN
7    mix.coffee (김영아)          1      마케팅그룹       사업
8      rini.kim (김혜린)          1        NaN      NaN
9   shane.chang (장세군)          3  글로벌모바일사업실       사업
10     stella.h (김미형)          1        NaN      NaN
11  todaying.ji (지승희)          2        NaN      NaN
12    tony.0629 (윤규선)          5    RPG사업2실       사업

In [27]:
# 'Date' 컬럼에서 월만 추출
df['Month'] = df['Date'].str[5:7]

# 'Month'별로 'cnt' 합산
month_stats = df.groupby('Month').agg(
    row_count=('Month', 'size'),  # 행의 개수
)

month_stats
# 결과를 Streamlit의 bar_chart로 시각화
# st.bar_chart(month_stats.set_index('Month')['cnt'])

       row_count
Month
11            22

In [29]:
df = pd.read_csv('test.csv')

# 'Date' 컬럼에서 월만 추출
df['Month'] = df['Date'].str[5:7]

# 'Month'별로 'cnt' 합산
month_stats = df.groupby('Month').agg(
    cnt=('Month', 'size'),  # 행의 개수
)

# 결과를 Streamlit의 bar_chart로 시각화
# st.bar_chart(month_stats.set_index('Month')['cnt'])